
<div class="loader-bg" *ngIf="showElement">
  <!-- <h3>Loading...</h3> -->
  <div class="loading-bar"></div>
</div>

<main class="smooth-fadein">
    <div style="position:fixed; width: 100%; height: 100vh;align-items: center;justify-content: center;">
        <!--Nav-->
        <nav class="scan-navbar theme-gradiant">
        <div class="container-fluid px-0">
            
         <div class="row m-0 w-100 d-flex align-items-center">    
            <div class="col-2 px-0 d-flex justify-content-start"> 
            <p align="center" class="icon-p"><a routerLink="/mycards/{{card_details._id}}"><i class="material-icons">arrow_back</i></a></p>       
            </div>     
         </div>

        </div>
        </nav>
        <!--#Nav-->
        
        <!--Center-->
        <div class="scan-centerdiv">  
        <section style="width: 100%; height: 100%">
        <div class="row m-0 w-100 h-100" style="position:relative">
        <!-- <zxing-scanner style="height:100%" #scanner start="true" [device]="currentDevice" (scanSuccess)="handleQrCodeResult($event)" [formats]="['CODE_39', 'CODE_128', 'QR_CODE']"></zxing-scanner> -->
        <div style="position:absolute;top:0;left:0;right:0;bottom:0;display:flex;align-items: center;justify-content: center;width:100%">
            <div class="container-fluid px-4 exchage-card">        
                <!--card1-->
                    <div class="row m-0 mycard-details w-100">             
        
                      <div class="col-md-12 col-12 px-0" data-custom-animations="true"
                      data-ca-options='{ "triggerHandler":"inview", "animationTarget":"all-childs", "duration":"1200", "delay":"150", "easing":"easeOutQuint", "direction":"forward", 
                      "initValues":{"translateY":60, "translateZ":-160, "rotateX":-84, "opacity":0}, "animations":{"translateY":0, "translateZ":0, "rotateX":0, "opacity":1} }'>
                          <div class="card p-3" [ngStyle]="{'background-color': card_details.cardcolor}">
                              <div class="mylogo" *ngIf="card_details.logoimage">
                                  <p align="center" class="d-flex align-items-center justify-content-center text-white h-100"><img [src]="imgBaseUrl+card_details?.logoimage" style="width:60px; height:60px;"></p>
                              </div>
                              <div class="d-flex align-items-start justify-content-start h-100">
                              <p class="mb-0 fs-16 text-white"> <i class="icon-bg theme-gradiant material-icons">account_circle</i></p>
                              </div>
                              <div class="contents pt-2">
                                  <h5 class="mb-0" [ngStyle]="{'color': card_details.textcolor}">{{card_details.name}}</h5> 
                                  <p class="mb-0 pt-1"><span class="fs-14" [ngStyle]="{'color': card_details.textcolor}">{{card_details.designation}}</span></p>
                                  <p class="mb-0 pt-1"><span class="fs-14" [ngStyle]="{'color': card_details.textcolor}">{{card_details.company}}</span></p>
                                  </div>
                          </div>
                      </div>           
        
                    </div>
                <!--#card1-->

                <!--Loader-->
                <div class="row m-0 mycard-details w-100 pd-30">         
            <div class="col-md-12 col-12">             

                  <!--Loader3-->
                  <div class="loader">
                    <div class="loader-wrap">
                      <div class="loader-dot loader-dot-one">
                        <div class="loader-dot-inner loader-1"></div>
                      </div>
                      <div class="loader-dot loader-dot-two">
                        <div class="loader-dot-inner loader-2"></div>
                      </div>
                      <div class="loader-dot loader-dot-three">
                        <div class="loader-dot-inner loader-3"></div>
                      </div>
                      <div class="loader-dot loader-dot-four">
                        <div class="loader-dot-inner loader-4"></div>
                      </div>
                      <!-- <div class="loader-dot loader-dot-five">
                        <div class="loader-dot-inner loader-5"></div>
                      </div> -->
                    </div>
                  </div>                
                <!--#Loader-->

                    </div>
                  </div>

                <!--card2-->
                <div class="row m-0 mycard-details w-100">             
        
                    <div class="col-md-12 col-12 px-2">
                        <div class="d-flex justify-content-start focus-topleft"><img src="assets/images/focus-topleft.png" style="width:40%"></div>
                        <div class="d-flex justify-content-end focus-topright"><img src="assets/images/focus-topright.png" style="width:40%"></div>
                        <div class="d-flex justify-content-start focus-bottomleft"><img src="assets/images/focus-bottomleft.png" style="width:40%"></div>
                        <div class="d-flex justify-content-end focus-bottomright"><img src="assets/images/focus-bottomright.png" style="width:40%"></div>
                        <div class="card px-3 mt-2">

                          <div class="row m-0 w-100">
                            <div class="col-7 px-0">
                                    <div class="">
                                    <p class="mb-0 fs-16 text-white"> <i class="icon-bg theme-gradiant material-icons">account_circle</i></p>
                                    </div>
                                    <div class="contents pt-1">
                                      <h5 class="mb-0 fs-14">Sending contact</h5> 
                                      <p class="mb-0 pt-1"><span class="text-black-muted fs-12">Align camera with card</span></p>                                                          
                                    </div>
                            </div>

                            <div class="col-5 px-0" align="right" *ngIf="card_details.qrcodeurl">
                              <p class="mb-0 pt-1" (click)="sendcard()"><qr-code [value]="card_details.qrcodeurl" [size]="110"></qr-code></p>
                              </div>

                           </div>   
                           

                        </div>
                    </div>             

                </div>
                <!--#card2-->
             
        
                </div>
        </div>
        </div>
        </section>       
        </div>
        <!--#Center-->
            
        <!--Bottom footer-->
        <div class="scan-footer">
        <div class="h-100" align="center">   

        <!-- <div align="center"><p class="scan-line" align="center"></p></div> -->
        
        <div class="col-12 pt-2">   
                  
            <div class="row m-0">
                <div class="col-4 px-0" align="left">

                    <div class="d-flex justify-content-between">
                       <span class="text-black-muted fs-14" style="opacity: 0.8;">Code</span>
                       <span class="text-black-muted fs-14" style="opacity: 0.8;" > {{timeLeft}}s</span>                    
                    </div>  

                    <div class="d-flex justify-content-between text-black-muted fs-28 lh-1" >
                      <span><input type="text" #formInputText value="{{randomnumber}}" style="border: none;" readonly></span>                                     
                   </div>                                  
                     <!-- <div class="text-black-muted fs-26 mb-0 w-100" style="letter-spacing: 0.18rem; text-align: justify;
                     -moz-text-align-last: justify;text-align-last: justify; background-color: aqua;align-content: space-around;">
                      <p class="mb-0">653123</p>
                     </div> -->                 
                
                </div>

                <div class="col-7 offset-1 d-flex align-items-end" (click)="randomString()" style="cursor: pointer;">
                <span class="lh-0"><i class="material-icons text-black-muted fs-24"> refresh</i></span> <span class="text-black-muted fs-14 pl-1">Refresh code</span> 
                </div>

                <div class="col-12 px-0 scan-bt-text mt-2 d-flex" align="left">
                  <button class="button-link mr-0" [ngxClipboard]="formInputText" (click)="copy_button();"> 
                    <span *ngIf="before_copy" style="font-size:14px!important"><i class="material-icons fs-20 pr-1"> insert_drive_file </i>Copy code</span>
                    <span *ngIf="after_copy" style="font-size:14px!important"><i class="material-icons fs-20 pr-1"> insert_drive_file </i>Copied code</span>
                  </button>
                  <p class="text-danger pl-5" *ngIf="timeralert"> ! code was expired</p> 
                </div>
                 
            </div>

            <p class="scan-bt-text mb-0 fs-11">To receive your card Receiver must</p>
            <p class="scan-bt-text mb-0 fs-11">go to biz.com and Press on <span><i class="material-icons" routerLink="/receive-card/{{myuserid}}">center_focus_weak</i></span> on top</p>
            <p class="scan-bt-text mb-0 fs-11">Scan the QRcode or</p>
            <p class="scan-bt-text mb-1 fs-11">Enter the 6 digit code</p>
        
        </div>

        </div>
        </div>
        <!--#Bottom footer-->  
        </div>
        
</main>





   