<div class="loader-bg" *ngIf="showElement">
  <!-- <h3>Loading...</h3> -->
  <div class="loading-bar"></div>
</div>

<main class="smooth-fadein" appDeferTheme>
    <!--Nav-->
    <nav class="navbar theme-gradiant">
    <div class="container-fluid px-0">
        
     <div class="row m-0 w-100 d-flex align-items-center">

        <div class="col-2 px-0 d-flex justify-content-start"> 
        <p align="center" class="icon-p"><a routerLink="/home"><i class="material-icons">arrow_back</i></a></p>       
        </div>

        <div class="col-10 px-0 d-flex justify-content-end">

        <div class="px-2" routerLink="/edit-carddetails/{{card_details._id}}"> 
        <p align="center" class="icon-p"><a  ><i class="material-icons">edit</i></a></p>
        <p>Edit</p>   
        </div>

        <div class="pl-2 pr-0" (click)="delete();"> 
        <p align="center" class="icon-p"><i class="material-icons">delete</i></p>
        <p>Delete</p>   
        </div>

        </div>


    </div>
    </div>
    </nav>
    <!--#Nav-->

    <!--content-->
    <section class="content mycards" style="background-color: #fcfcfc;"> 

      <section>  
       <div class="container-fluid px-3">
        
        <!--My Cards Details-->
            <div class="row m-0 mycard-details w-100">             

                    <div class="col-md-12 col-12 px-0" data-custom-animations="true"
                    data-ca-options='{ "triggerHandler":"inview", "animationTarget":"all-childs", "duration":"1200", "delay":"150", "easing":"easeOutQuint", "direction":"forward", 
                    "initValues":{"translateY":60, "translateZ":-160, "rotateX":-84, "opacity":0}, "animations":{"translateY":0, "translateZ":0, "rotateX":0, "opacity":1} }'>
                        <div class="card p-3" [ngStyle]="{'background-color': card_details.cardcolor}">
                            <div class="mylogo" *ngIf="card_details.logoimage">
                                <p align="center" class="d-flex align-items-center justify-content-center text-white h-100"><img [src]="imgBaseUrl+card_details?.logoimage" style="width:60px; height:auto;"></p>
                            </div>
                            <div class="d-flex align-items-start justify-content-start h-100">
                            <p class="mb-0 fs-16 text-white"> <i class="icon-bg theme-gradiant material-icons">account_circle</i></p>
                            </div>
                            <div class="contents pt-2">
                                <h5 class="mb-0" [ngStyle]="{'color': card_details.textcolor}">{{card_details.name}}</h5> 
                                <p class="mb-0 pt-1"><span class="fs-14" [ngStyle]="{'color': card_details.textcolor}">{{card_details.designation}}</span></p>
                                <p class="mb-0 pt-1"><span class="fs-14" [ngStyle]="{'color': card_details.textcolor}">{{card_details.company}}</span></p>
                                </div>
                        </div>
                    </div>               

            

           </div>
           <!--#My Cards Details-->

        </div>
        </section>
        <!--form details-->
        <section class="pt-1">

            <div class="container-fluid px-3">
                <div class="row m-0 w-100 mycard-details">                  
                    <form name="frm-details" class="col-12 col-md-12 section-form-scroll slim-scroll" [ngClass]="(commonService?.scroll_y_pos>0)? 'scroll-mar2': 'scroll-mar1'"> 
                      <ng-container *ngFor="let x of card_details.phone; let i=index;">
                          <div class="form-group form-icon-append mb-3">
                            <label for="phone">Phone {{i+1}}</label>
                            <input class="form-control" type="text" readonly id="phone{{i}}" name="phone{{i}}" [(ngModel)]="x.phonevalue">
                            <i class='material-icons'> phone </i>
                          </div>
                        </ng-container>

                        <ng-container *ngFor="let x of card_details.email; let i=index;">
                          <div class="form-group form-icon-append mb-3">
                            <label for="phone">Email {{i+1}}</label>
                            <input class="form-control" type="text" readonly id="email{{i}}" name="email{{i}}" [(ngModel)]="x.emailvalue">
                            <i class='material-icons'> email </i>
                          </div>
                        </ng-container>

                          <div class="form-group form-icon-append mb-3">
                            <label for="addr">Address</label>
                            <input class="form-control" type="text" id="address" name="address" readonly [(ngModel)]="card_details.address">
                            <i class='material-icons'> location_on </i>
                          </div>

                          <ng-container *ngFor="let x of card_details.socialmedia; let i=index;">
                            <div class="form-group form-icon-append mb-3">
                              <label for="social1">{{x.provider}}</label>
                              <input class="form-control" type="text" readonly name="name{{i}}" id="name{{i}}" [(ngModel)]="x.name">
                              <i class='material-icons' *ngIf="x.provider == 'Instagram'"><img src="assets/images/icons/instagram.svg" style="width:26px;height:auto"></i>
                              <i class='material-icons' *ngIf="x.provider == 'Facebook'"><img src="assets/images/icons/facebook.svg" style="width:26px;height:auto"></i>
                            </div>                            
                          </ng-container>
                          

                          <div class="form-group form-icon-append mb-0">
                            <label for="social3">Tags</label>
                            <tag-input id="tags" name="tags" [(ngModel)]="card_details.tags" [editable]='false'></tag-input> 
                            <!-- <i class='material-icons'> </i> -->
                          </div>
                        
                    </form>
                     
                </div>
            </div>

        </section>
        <!--#form details-->
       <div [ngStyle]="{'display': (commonService?.scroll_y_pos>0)? 'none': 'block' }"><br/>  <br/>  <br/>  <br/>  <br/><br/></div>


    </section>
<!--#content-->
  
 <!--Footer-->
  <footer id="footer" class="bottom-footer footer-fixed"> 
    <div class="text-center">
      <p class="text-success" *ngIf="btn_alert1">  Your card deleted Successfully</p>
      <p class="text-danger" *ngIf="btn_alert2">  Your card was not deleted</p>
    </div>
    
    <div class="footer-div theme-gradiant">
    <div class="footer-menu d-flex align-items-center justify-content-center">
    <ul>
    <li>
    <a routerLink="/exchange/{{card_details._id}}" class="hint--top hint--rounded hint--medium" aria-label="Exchange cards">
      <p align="center" class="icon-p"><i class="material-icons">swap_vert</i></p>
      <p>Exchange cards</p>   
    </a>
    </li>

      
    <li (click)="sendcard()">
    <a>
      <p align="center" class="icon-p"><i class="material-icons">send</i></p>
      <p>Send</p>      
    </a>
    </li>   
    
    <li (click)="webshare()">
      <a class="hint--top hint--rounded hint--medium" aria-label="Share cards">
      <p align="center" class="icon-p"><i class="material-icons">share</i></p>      
      <p>Share</p>      
    </a>
    </li>

    <li>
      <a id="downloadButton" [vcdDownloadVCard]="vCard" [encoding]="vCardEncoding.none">
        <p align="center" class="icon-p"><i class="material-icons">get_app</i></p>
        <p>Download</p> 
      </a>
      </li>
    
    </ul>
    </div>
    
    </div>
  
  </footer>
  <!--#footer-->
</main>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #deleteModal>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">     
      <div class="modal-header">
          <div class="col-md-12">
    <h4 class="modal-title" id="defaultModalLabel">Confirm Delete</h4>
          </div>
</div>
<div class="modal-body forgot-model-input">
  
  <p>Do you want to delete this card?</p>
 
</div>

<div class="modal-footer"> 
 
  
    <button type="button" class="button-link"  data-dismiss="modal"><span class="px-5 py-2">No</span></button>
    <button type="button" class="button-link" (click)="delete_mycard()" data-dismiss="modal"><span class="px-5 py-2">Yes</span></button>

</div>

    </div>
  </div>
</div>
