<div class="loader-bg" *ngIf="showElement">
    <!-- <h3>Loading...</h3> -->
    <div class="loading-bar"></div>
  </div>

<main class="smooth-fadein h-100" style="height:100vh!important">
    <div class="row m-0 justify-content-center login-div h-100">
    
        <div class="container">
            <div class="row d-flex align-items-start flex-column h-100">           
                <!--Login div-->       
                <div class="container-fluid">
                    <div class="row m-0 w-100 login-details">
                        <p class="py-3 px-0 mb-0"><a routerLink="/login" class="back-icon"><i class="material-icons">arrow_back</i></a> </p>                   
                                         
                         <div class="col-12 col-md-12 px-2">
                         <form autocomplete="off" (ngSubmit)="onRegister();" ngNativeValidate>
                         <h4>Sign up</h4>
                         <!--Email-->
                         <div id="signup-div">

                            <div class="form-group form-icon-append mb-3 pt-2">
                                <label for="name">Name</label>
                                <input class="form-control" placeholder="Enter your name" type="text" name="name" id="name" [(ngModel)]="registerForm.name" #name="ngModel" (input)="registerForm.errorMsg=null;" required>
                                <i class='material-icons'> account_circle </i>
                            </div> 
                            <div class="form-group form-icon-append mb-3 pt-2">
                                <label for="email">Email</label>
                                <input class="form-control" placeholder="Enter your email" type="email" name="email" id="email" [(ngModel)]="registerForm.email" #email="ngModel" (input)="registerForm.errorMsg=null;" required>
                                <i class='material-icons'> email </i>
                            </div>  
                        
                            <div class="form-group form-icon-append mb-3 pt-2">
                                <label for="password">Password</label>
                                <input class="form-control" placeholder="Enter your password" [type]="registerForm.input_txt? 'text': 'password'" name="password" id="password" [(ngModel)]="registerForm.password" #password="ngModel" pattern=".{6,}" title="Six or more characters" (input)="registerForm.errorMsg=null;" required>
                                <i class="material-icons visibility_icon" *ngIf="!registerForm.input_txt" (click)="registerForm.input_txt = !registerForm.input_txt" aria-hidden="true">visibility</i>
                                <i class="material-icons visibility_icon" *ngIf="registerForm.input_txt" (click)="registerForm.input_txt = !registerForm.input_txt" aria-hidden="true">visibility_off</i>
                                <!-- <i class='material-icons'> visibility_off </i> -->
                            </div>   
                        
                            <div class="form-group form-icon-append mb-3 pt-2">
                                <label for="confirm_pwd">Re-Type Password</label>
                                <input class="form-control" placeholder="Confirm your password" type="password" name="confirm_pwd" id="confirm_pwd" [(ngModel)]="registerForm.confirm_pwd" #confirm_pwd="ngModel" (input)="registerForm.errorMsg=null;" required>
                                <i *ngIf="registerForm.confirm_pwd && registerForm.password==registerForm.confirm_pwd"class="material-icons wow fadeIn" aria-hidden="true">check_circle</i>
                                <!-- <i class='material-icons'> visibility_off </i> -->
                            </div> 
                            <div *ngIf="registerForm.errorMsg" class="col-sm-12">
                                <p style="color:red;"><strong>{{registerForm.errorMsg}}</strong></p>
                              </div>  
    
                            <div align="center" class="pt-2" >
                                <button class="button-link w-100" type="submit" [disabled]="registerForm.confirm_pwd && registerForm.password!=registerForm.confirm_pwd || registerForm.submit">
                                    <span style="padding:8px 10px;">Submit &nbsp;&nbsp;<div class="lds-ellipsis" *ngIf="registerForm.submit"><div></div><div></div><div></div><div></div></div></span> 
                                    </button>
                            </div>       

                        <!-- <div align="center" class="pt-2">
                            <button class="button-link w-100" type="submit" id="mobilebtn"><span style="padding:8px 10px;">Submit</span></button>
                        </div>    -->
                     
                        <div class="col-12 px-0 pt-2" align="right">
                            <div class="d-flex justify-content-end align-items-center">
                            <span class="text-black-muted fs-14 pr-2">Already a member?</span>
                            <span><a routerLink="/email-login" class="login-link button-link mb-0 mr-0"> 
                            <span style="padding:6px 20px;">Sign in</span></a></span>
                            </div>
                        </div>
                        
                         </div>
                          <!--#Email-->                     

                        </form>
                        </div>               
                       


                    </div>
                </div>
                 <!--#Login div-->
            </div>
        </div>
     
    </div>   
</main>

    